/* banner Pokemon */
@media all and (max-width: 767px){
    .bannerPokemon{
        height: 250px;
        object-fit: cover;
    }
}

@media all and (min-width: 768px) and (max-width: 1100px){
    .bannerPokemon{
        height: 250px;
        object-fit: cover;
    }
}

@media all and (min-width: 1101px){
    .bannerPokemon{
        height: 550px;
        object-fit: cover;
    }
}

/* galería Pokemon */
#veneno{
    background-color: blueviolet;
}

#fuego{
    background-color: orange;
}

#psiquico{
    background-color: pink;
}

#seccionPokemones{
    background-color: lightgray;
}



/* Detalle Pokemon */



@media all and (max-width: 767px){
    #dino{
        height:300px;
        text-align: center;
    }
   
}

@media all and (min-width: 768px) and (max-width: 1100px){
    #dino{
        height:350px;
    }
}

@media all and (min-width: 1101px){
    #dino{
        height:500px;
    }

}